<%- include('./partial/form-partial-t.ejs') %>
        <h1 class="h3 mb-3 fw-normal">Create account</h1>
        <input type="hidden" value="<%=rand%>" name="randcheck" />
        <div class="form-floating">
          <input type="text" name="name" value="<%=name%>" class="form-control" id="floatingInput" placeholder="Username">
          <label for="floatingInput">Username</label>
          <span class="error"><%=nameErr%></span>
        </div>
        <div class="form-floating">
          <input type="text" name="email" value="<%=email%>" class="form-control" id="floatingEmail" placeholder="Email">
          <label for="floatingEmail">Email</label>
          <span class="error"><%=emailErr%></span>
        </div>
<%- include('./partial/form-partial-b.ejs') %>