<div class="form-floating">
          <input type="password" name="pass" value="<%=pass%>" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
          <span class="error"><%=passErr%></span>
        </div>
        <div class="d-flex">
            <button class="btn btn-primary w-75 py-2" type="submit" name="submit" value="Submit"><%=tStr1%></button>
            <a class="btn btn-secondary w-25 py-2" href="./<%=url%>"><%=tStr2%></a>
        </div>
      </form>
    </main>
  </body>
</html>